<div class="filtrar">
    <div class="ordenacion">
        <div>
            <li ><span (click)="onItemClick(-1)">Catalogo</span>
                <ul>
                    <li *ngFor="let tipoProduct of tipoProducto;let i = index" (click)="onItemClick(i)">{{tipoProduct}}</li>
                </ul>
            </li>
        </div>
        <div>
            <li>Ordenar
                <ul>
                    <li><a href="">Nuevos</a></li>
                    <li><a href="">Top Ventas</a></li>
                    <li><a href="">Recomendados</a></li>
                </ul>
            </li>
        </div>
    </div>
   <div>
        <input (input)="canviarCriteri()" name="crit" [(ngModel)]="criteri" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button>Buscar</button>
   </div>
</div>