* {
    font-family: Garamond, serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 3;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* gap: 5em; */
}

/* .navbar-items img {
    width: 1em;
    height: 1em;
} */

.navbar-items a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-items a:hover {
    background-color:  #53a7ea;/* crimson; */
    
    /* color: black; */
}
.navbar-items a img {
    width: 2em;
    height: 2em;
}
.navbar-items a:first-child {
    /* background-color: hsla(0, 100%, 90%, 0.0); */
    display: flex;
    align-items: center;
    height: 1.25em;
}
.navbar-items a:hover:first-child {
    background-color: hsla(0, 100%, 90%, 0.0);

}
.navbar-items a:nth-last-child(2) {
    display: flex;
    align-items: center;
    height: 1.25em;
}
.navbar-items a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-items .menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-items a:hover {
        background-color: black;
        color: white;
    }
    .navbar-items>a {
        display: flex;
        flex-direction: row;
        display: none;
    }
    .navbar-items a.menu {
        display: block;
    }
    .navbar-items {
        display: grid;
        grid-template-columns: 1fr 2fr;
        flex-wrap: nowrap;
    }
    .navbar-items img {
        width: 60px;
        height: 50px;
    }
    .submenu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .submenu li {
        display: block;
    }
    .submenu a:hover {
        background-color: crimson;
    }
    .submenu {
        display: none;
    }
}


/* catalogo----------------------------------------------------------- */

.catalogo {
    display: none;
}

.catalogoUl {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    margin-left: -60px;
}

.catalogoUl li {
    display: inline-block;
    width: 4em;
}
.catalogoUl a:hover{
    width: 20px;
    color: black;
    
}


/* ----------------------Material----------------------- */
::ng-deep .menu-cesta{

}
::ng-deep .menu-cesta-opciones{
    /* margin-left: 5em; */
    margin-top: 1.2em;
    background-color: #53a7ea!important;
}
::ng-deep .menu-cesta-item{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 1em;
    margin: 0em 1em 1em 1em;
}
::ng-deep .menu-cesta-item a{
    color: white;
}
::ng-deep .menu-cesta-item:hover a{
    color: black;
}

::ng-deep .menu-cesta-opciones img{
    width: 2em;
    height: 2em;
}
::ng-deep .menu-cesta button{
    text-align: center;
}
::ng-deep .menuPuntero{
    position: absolute;
    margin-top: -1em;
    margin-left: .6em;
    rotate: 45deg;
    background-color: #53a7ea;
}