.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
}

.homeSlider {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: repeat(5, 20%);
    width: 90%;
    height: 30em;
    padding: 1%;
    /* border: solid 1px black; */
    border-radius: 2em;
}

.homeSlider img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 1;    
}

.homeSlider .homeSliderImgs {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    /* border: solid red 1px; */
}

.homeSlider .boton:first-child {
    grid-row-start: 3;
    grid-column-start: 1;
    background-color: hsla(0, 100%, 90%, 0.0);
    z-index: 3;
    height: 50%;
    width: 3em;
    border-radius: 10%;
    border: grey 1px solid;
    justify-self: start;
    align-self: center;
    background-color: grey;
    opacity: 0.5;
}

.homeSlider .boton:nth-of-type(2) {
    grid-row-start: 3;
    grid-column-start: 3;
    background-color: hsla(0, 100%, 90%, 0.0);
    z-index: 3;
    height: 50%;
    width: 3em;
    border-radius: 10%;
    border: grey 1px solid;
    justify-self: end;
    align-self: center;
    background-color: grey;
    opacity: 0.5;
}
.homeSlider button:hover{
    background-color: aqua;
}


/**------------homeCatalogo-----------------**/
.topSecioces{
    display: flex;
    text-decoration: underline;
    width: 90%;
}
.homeCatalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 5em;
}
.homeCatalogo div{
    height: 90%;
    width: 50px;
}
.homeCatalogo img{
    height: 90%;
    width: 50px;
}

.homeCatalogo img:hover{
    border-bottom: solid 1px black;
}
.homeCatalogo img:hover{
    transform: scale(1.2);
}
