<div class="homePage">
    <label class="topSecioces">Top secioces&nbsp;&nbsp;</label>
    <div class="homeCatalogo">
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
        <div><img src="../../../assets/logo-2.png" alt="NO"></div>
    </div>
    <div class="homeSlider">
        <button class="boton">&#8249;</button>
        <div class="homeSliderImgs">
            <img src="../../../assets/logo-3.jpg" alt="">
        </div>
        <button class="boton">&#8250;</button>
    </div>
</div>